*{
box-sizing: border-box;
font-family: font-family: 'Montserrat', sans-serif;
font-family: 'Work Sans', sans-serif;
}


/* header styles */

.nav-container{
    display: flex;
    margin: 30px 80px;
    justify-content: space-between;
    text-align: center;
    /* border: 1px solid red; */
    width: 80%;
    padding: 10px;
    }

.brand{
    display: flex;
    /* border: 6px solid pink; */
    width: 40%;
}

.brand img{
    margin-top: 35px;
    margin-right: 10px;
    height: 25px;
    width: 50px;
}

.brand-color-fontsize{
    font-size:  32px;
    
}
.brand-color{
    color: #ff69b4 
  

}

.nav-items{
        
    width: 60%;
    margin-top: 18px;
    margin-left: 130px;
    /* border: 5px solid green; */
    
}

.nav-items ul {
    display: flex;
    color: #100c1d;
    font-size: 18px;
    font-weight: 400;
}


.nav-items> ul> li a{
    text-decoration: none;
    margin-right: 20px;
    
}

.nav-items> ul> li{
    list-style: none;
    display: flex;
    justify-content: end;
}

.youtube{
    margin-right: 2px;
    margin-left: 2px;
    
}

.button-decoration{
    border-radius: 05px;
    padding: 3px;
    border: white;
   }














/* to creat main  */


.main{

    /* height: 1000px; */
}





/* To creat footer container */

.footer-container{
    /* background-color: rgb(1, 1, 22); */
    /* color: white; */
    /* padding :  30px; */
}

/* .logo-brand, .footer-items, .social-media-logo, .policy-container, .rights{ */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* margin: 15px; */
}

/* .logo-brand{
margin: 30px;

}

.footer-items{
margin: 30px;
}

.social-media-logo{
margin: 30px;
}


.policy-container{
margin: 30px;
}

.policy-container,   .rights{
    font-size: 10px;
} */