*{
border: 0;
margin: 0;
}




/* To creat footer container */

.footer-container{
    background-color: rgb(1, 1, 22);
    color: white;
    padding :  30px;
}

.logo-brand, .footer-items, .social-media-logo, .policy-container, .rights{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.logo-brand{
margin: 30px;

}

.footer-items{
margin: 30px;
}

.social-media-logo{
margin: 30px;
}


.policy-container{
margin: 30px;
}

.policy-container,   .rights{
    font-size: 10px;
}